body { 
  background-color: rgb(255, 255, 240);
  color: grey; 
}
h1 {
  font-size: 20px; 
}
p {
  color: rgb(0, 0, 139); 
  background-color: rgb(230, 230, 250); 
  font-size: 16px;
}
ol { 
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img img {
  width: 200px; 
  height: 200px; 
  border: 2px;
  border-style: dotted; 
}
.project {
  background-image: url(http://www.example.com/bck.png);
h1 {
  border: dashed;
  border-width: 2px 4px;
  border-radius: 40px;  
}
a:link {
  border: none;
  border-radius: 50%;
  background: burlywood;
}
  
