body { 
  background-color: rgb(255, 255, 240);
  color: grey; 
}
h1 {
  font-size: 20px; 
}
p {
  color: rgb(0, 0, 139); 
  background-color: rgb(230, 230, 250); 
  font-size: 16px;
}
ol { 
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img img {
  width: 200px; 
  height: 200px; 
  border: 2px;
  border-style: dotted; 
}
.project {
 background-image: linear-gradient(white, #B58B00);
 margin: 10px;
}
h1 h2 {
  text-align: center; 
  border-color: gold;
  border-width: 20px;
  border-style: groove;
}
a {
  padding: 2px;
  text-decoration: none; 
}
a:hover {
  background: #f73;
  color: gold; 
  padding: 2px;
  border-radius: 50px;
}
.image img {
  border: 2px solid #caca22;
  padding: 15px; 
  background: #ddddcf;
  margin-right: 10px; 
  margin-bottom: 10px;
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
