body { 
  background-color: rgb(255, 255, 240);
  color: grey; 
}
h1 {
  font-size: 20px; 
}
p {
  color: rgb(0, 0, 139); 
  background-color: rgb(230, 230, 250); 
  font-size: 16px;
}
ol { 
  list-style-type: upper-alpha;
}
ul {
  list-style-type: square;
}
.profile-img img {
  width: 200px; 
  height: 200px; 
  border: 2px;
  border-style: dotted; 
}
.project {
  border-image-source: linear-gradient(10deg, #fe01f5 0%, #2e113d 100%);
h1 {
  border: thick double #32a1ce;  
}
a.href:link {
  border-radius: 25px;
  background: #73AD21;
  text-decoration: none;
}
a.href:hover {
  color: #ea0b0b0
  text-decoration: underline;  
}
  
